.title-term {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  text-overflow: unset;
  white-space: unset;
}

.ios .toolbar-title {
  text-overflow: inherit;
  white-space: normal;
  text-align: left;
  font-size: 1.3em;
}

.md .toolbar-title {
  text-overflow: inherit;
  white-space: normal;
  text-align: left;
  font-size: 1.3em;
}

.acept {
  border-radius: 9px 10px 10px 10px;
  -moz-border-radius: 9px 10px 10px 10px;
  -webkit-border-radius: 9px 10px 10px 10px;
  border: 0px solid #000000;
  box-shadow: 0px 0px 1em #666;
  -webkit-box-shadow: 0px 0px 1em #666;
  -moz-box-shadow: 0px 0px 1em #666;
  padding: 1em;
}

.term {
  justify-content: center;
}

.btn-term {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: medium;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: large;
}

.footer {
  text-align: center;
  margin: 20px auto 0 auto;
  padding-bottom: 15px;
  font-size: 11px;
  color: #aaa;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}