.title-term {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.questions {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: medium;
  border: 0px solid rgb(184, 235, 243);
  margin: 10px;
  border-radius: 9px 10px 10px 10px;
  -moz-border-radius: 9px 10px 10px 10px;
  -webkit-border-radius: 9px 10px 10px 10px;
  box-shadow: 0px 0px 1em rgb(184, 235, 243);
  -webkit-box-shadow: 0px 0px 1em #666;
  -moz-box-shadow: 0px 0px 1em #666;
  padding: 1em;
}

.content {
  justify-content: center;
  align-items: center;
  justify-items: auto;
}

.footer {
  text-align: center;
  margin: 20px auto 0 auto;
  padding-bottom: 15px;
  font-size: 11px;
  color: #aaa;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}